# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# Docker
*.pid
*.sock
docker-compose.override.yml

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
